:root {
  --color-light: #fff;
  --color-dark: #252528;
  --color-light-grey: #f4f4f4;

  --color-text-muted: rgba(25,25,28,.7);
  --color-text-muted-dark: hsla(0,0%,100%,.7);

  --font-size: 19px;

  --spacing-unit: 24px;
}